.Rproj.user
.Rhistory
.RData
.Ruserdat
teste.tif
teste.tif.aux.xml
*.html
docs
stars1.tif
stars_2_anexo_prt.html
stars_2_esp.html
stars_2_anexo_esp.html
.png
stars_1_esp.html
stars_1_prt.html
stars_2_prt.html
test.R
